* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root {
    --height: auto;
    --text-align: center;
}




nav {
    background-color: darkblue;
    padding: 10px;

}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: darkblue;
    padding: 5rem;
}

img {
    width: 150px;
    height: var(--height);
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

body {
    font-size: 16px;
    font-family: 'Times New Roman', Arial, sans-serif;
}

p {
    padding: 20px;
    margin: 1rem;

}

main {
    max-width: 840px;
}

aside {
    width: 20rem;
    text-align: var(--text-align);
    position: relative;

}

aside img {
    width: 200px;
    height: var(--height);


    aside h2 {
        position: absolute;
        top: 47px;
        left: 150px;
    }

}

main img {
    width: 150px;
    height: var(--height);
    padding: 2px;
    float: right;
    margin: 0 0 1rem 1rem;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: var(--text-align);
}

/* class selector */

.box {
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 10%);
    padding: 1rem;
    background-color: #ddd;
    color: #000;
}

.indent {
    padding-left: 2rem;
}