.callout {
    background-color: darkblue;
    color: white;
    padding: 2px;
    border: 1px solid black;
    margin: 10px;

    max-width: 400px
}

.callout img {
    float: right;
    border: 1px solid rgb(10, 10, 10);
    background-color: #bbb;
    margin: 15px;
    width: 150px;
    height: 150px;
    padding: 3px;
}

blockquote {

    margin: 0px;

}

cite {
    display: block;
    border-top: 1px dotted #fff;
    text-align: right;
    font-size: large;
    margin-right: 15px;
}